<ion-header>
  <ion-toolbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let people of allPeople">
        <ion-thumbnail slot="start">
          <img class="thumb-border " src="{{people.image}}">
        </ion-thumbnail>
    
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              {{people.name}}
            </ion-col>
            <ion-col></ion-col>
            <ion-col size="4">
              {{people.pontuation}} Pontos
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
</ion-content>
