<ion-header>
  <ion-toolbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" class="button-find" (click)="openDetailsWithQueryParams()">Menu Principal</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" class="button-find" >Atualizar Ranking</ion-button>
    </ion-col>
  </ion-row>

  <ion-card align-items: flex-start *ngFor="let alunosRanking of allAlunoRanking; let i = index">
    <ion-card-content>
      <ion-card-title>
        {{i + 1}} º Lugar <br>
      </ion-card-title>
      <h2>{{alunosRanking.nome}}</h2>
      <br />
      <div>
        <span>
          <h1>{{alunosRanking.pontuacao}} Pontos</h1>
        </span>
      </div>
      <p>
        Faculdade: {{alunosRanking.instituicao}} <br>
        Semestre: {{alunosRanking.semestre}}
      </p>

      <ion-row>
        <ion-col>
          <ion-button style="float:right" (click)="selectAluno(alunosRanking)">Ver mais</ion-button>
          <!-- [routerLink]="'/house-info'" -->
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>